<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); -%>

<body>
    <%- include('./partials/nav.ejs'); -%>

    <h1 class="test">News Letters</h1>

    <div class="test">
        <% news.forEach( newsObj => { %>
            <h1> <%= newsObj.title %> </h1>
            <p> <%= newsObj.content %> </p>
        <% }) %>
    </div>

    <p style="color:red; text-align: center;">-------------------------------------------------------------------------------------</p>
    
    <%- include('./partials/footer.ejs'); -%>
</body>

</html>